@font-face {
  font-family: "Bogle-Regular";
  src: local("Bogle-Regular"), url("static/Bogle/Bogle-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Bogle-Black";
  src: local("Bogle-Black"), url("static/Bogle/Bogle-Black.otf") format("opentype");
}

@font-face {
  font-family: "Bogle-BlackItalic";
  src: local("Bogle-BlackItalic"), url("static/Bogle/Bogle-BlackItalic.otf") format("opentype");
}

@font-face {
  font-family: "Bogle-Italic";
  src: local("Bogle-Italic"), url("static/Bogle/Bogle-Italic.otf") format("opentype");
}

@font-face {
  font-family: "Bogle-Italic";
  src: local("Bogle-Italic"), url("static/Bogle/Bogle-Italic.otf") format("opentype");
}

.v-application {
  font-family: "Bogle-Regular" !important;
}

i.v-icon.notranslate.mdi.mdi-radiobox-blank.theme--light {
  color: #F6BC37 !important;
}

.font-size-price{
  font-size: 25px;
}

.font-size-description{
  font-size: 16px;
}

.font-size-12{
  font-size: 12px;
}

.font-size-13{
  font-size: 13px;
}

.font-size-14{
  font-size: 14px;
}

.font-size-16{
  font-size: 16px;
}

.font-size-18{
  font-size: 18px;
}

.text-primary{
  color: $primary-color !important;
}

.text-black{
  color: black !important;
}

.text-white{
  color: white !important;
}

.text-secondary{
  color: $secondary-color !important;
}

.border-color-primary{
  border-color: $primary-color !important;
}

.border-button{
  border: 3px solid $secondary-color;
  border-radius: 30px;
}

.bg-white{
  background: white !important;
}

.bg-primary{
  background: $primary-color !important;
}

.bg-secondary{
  background: $secondary-color !important;
}

.hover-pointer:hover{
  cursor: pointer;
}

.filter-button{
  border: 2px solid #F6BC37; border-radius: 30px;
}

.min-width-180{
  min-width: 180px;
}
