@font-face {
  font-family: "Bogle-Regular";
  src: local("Bogle-Regular"), url("static/Bogle/Bogle-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Bogle-Black";
  src: local("Bogle-Black"), url("static/Bogle/Bogle-Black.otf") format("opentype");
}

@font-face {
  font-family: "Bogle-BlackItalic";
  src: local("Bogle-BlackItalic"), url("static/Bogle/Bogle-BlackItalic.otf") format("opentype");
}

@font-face {
  font-family: "Bogle-Italic";
  src: local("Bogle-Italic"), url("static/Bogle/Bogle-Italic.otf") format("opentype");
}

@font-face {
  font-family: "Bogle-Italic";
  src: local("Bogle-Italic"), url("static/Bogle/Bogle-Italic.otf") format("opentype");
}

.v-application {
  font-family: "Bogle-Regular" !important;
}

i.v-icon.notranslate.mdi.mdi-radiobox-blank.theme--light {
  color: #F6BC37 !important;
}

i.v-icon.notranslate.mdi.mdi-checkbox-blank-outline.theme--light {
  color: #F6BC37 !important;
}

i.v-icon.notranslate.mdi.mdi-checkbox-marked.theme--light {
  color: #F6BC37 !important;
}

.font-size-price{
  font-size: 25px;
}

.font-size-description{
  font-size: 16px;
}

.font-size-11{
  font-size: 11px;
}

.font-size-12{
  font-size: 12px;
}

.font-size-13{
  font-size: 13px;
}

.font-size-14{
  font-size: 14px;
}

.font-size-16{
  font-size: 16px;
}

.font-size-18{
  font-size: 18px;
}

.font-size-20{
  font-size: 20px;
}

.font-size-22{
  font-size: 22px;
}

.font-size-24{
  font-size: 24px;
}

.font-size-26{
  font-size: 26px;
}

.font-size-40{
  font-size: 40px;
}

.font-size-60{
  font-size: 60px;
}

.line-height-normal{
  line-height: normal;
}

.text-primary{
  color: $primary-color !important;
}

.text-black{
  color: black !important;
}

.text-white{
  color: white !important;
}

.text-secondary{
  color: $secondary-color !important;
}

.text-red{
  color: $red-color !important;
}

.text-chip{
  color: $chip-color !important;
}

.bg-white{
  background: white !important;
}

.bg-primary{
  background: $primary-color !important;
}

.bg-secondary{
  background: $secondary-color !important;
}

.bg-light-blue{
  background: #F0F9FE !important;
}

.bg-red{
  background: $red-color !important;
}

.bg-green{
  background: $green-color !important;
}

.hover-pointer:hover{
  cursor: pointer;
}

.filter-button{
  border: 2px solid #F6BC37; border-radius: 30px;
}

.min-width-180{
  min-width: 180px;
}

.border-color-primary{
  border-color: $primary-color !important;
}

.border-color-blue{
  border-color: $secondary-color !important;
}

.border-color-white{
  border-color: white !important;
}

.border-color-red{
  border-color: $red-color !important;
}

.border-color-chip{
  border-color: $chip-color !important;
}

.border-color-black{
  border-color: black !important;
}

.border-button{
  border: 3px solid $secondary-color;
  border-radius: 30px !important;
}

.border-top-right-radius-15{
  border-top-right-radius: 15px;
}

.border-bottom-right-radius-15{
  border-bottom-right-radius: 15px;
}

.border-top-left-radius-15{
  border-top-left-radius: 15px;
}

.border-bottom-left-radius-15{
  border-bottom-left-radius: 15px;
}

.border-top-right-radius-10{
  border-top-right-radius: 10px;
}

.border-bottom-right-radius-10{
  border-bottom-right-radius: 10px;
}

.border-top-left-radius-10{
  border-top-left-radius: 10px;
}

.border-bottom-left-radius-10{
  border-bottom-left-radius: 10px;
}

.border-top-right-radius-30{
  border-top-right-radius: 30px;
}

.border-bottom-right-radius-30{
  border-bottom-right-radius: 30px;
}

.border-top-left-radius-30{
  border-top-left-radius: 30px;
}

.border-bottom-left-radius-30{
  border-bottom-left-radius: 30px;
}

.border-radius-10{
  border-radius: 10px;
}

.border-radius-15{
  border-radius: 15px;
}

.border-radius-30{
  border-radius: 30px !important;
}

.border-solid-1{
  border: solid 1px;
}

.border-solid-2{
  border: solid 2px;
}

.border-solid-3{
  border: solid 3px;
}

.full-width{
  width: 100%;
}

.width-101p {
  width: 101%;
}

.width-fit-content{
  width: fit-content;
}

.place-content-center{
  place-content: center;
}

.place-content-end{
  place-content: end;
}

.display-flex{
  display: flex;
}

.v-dialog{
  border-radius: 30px !important;
}

.text-decoration-none{
  text-decoration: none !important;
}

.w-80p{
  width: 80%;
}

.w-65p{
  width: 65%;
}

.w-60p{
  width: 60%;
}

.w-40p{
  width: 40%;
}

.w-35p{
  width: 35%;
}

.w-150px{
  width: 150px !important;
}

.min-height50{
  /** min-height: 50px;**/
}

.place-items-center{
  place-items: center;
}

/* CUIDADO CON ESTO */
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before {
  border-color: white !important;
  border-style: none !important;
}
.v-text-field > .v-input__control > .v-input__slot:before, .v-text-field > .v-input__control > .v-input__slot:after{
  border-color: white !important;
  border-style: none !important;
}
.v-text-field__details{
  display: none !important;
  border-style: none !important;
}

@media(max-width: 960px) {
  .mb-sm-180px {
    margin-bottom: 180px;
  }

  .w-sm-100p {
    width: 100%;
  }
}

.text-overflow-ellipsis{
  text-overflow: ellipsis;
}

.lines-2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

p{
  margin-bottom: 0px !important;
}

